.container {
    .row {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .col-lg-5 {
            margin-block: 15px;
        }
        .carousel-indicators {
            justify-content: end;
        }
        
        .card {
            margin: auto;
            .btn {
                background-color: $naranja-botones;
                color: $azul-profundo;
            }
        }
        .carousel-control {
            top: 400px;
            height: 150px; 
        }

        .carousel-control-prev{
            @extend .carousel-control;
        }
        .carousel-control-next{
            @extend .carousel-control;
        }

        .card {
            img {
                max-height: 750px;
            }
        }
    }
}

.containerAyuda {
    background-color: grey;
    padding: 15px;
    margin-top: 50px;
    margin-inline: 1%;

    img {
        max-width: 100%;
        height: auto;
    }
    a {
        text-decoration: none;
        color: $naranja-botones;
    }
}

.containerfaq {
    margin-top: 50px;
    height: 80%;
    margin-inline: 1%;
    .btn {
        display: flex;
        
        h3 {
            padding-inline: 20px;
        }
    }

    .card {
        width: 1500px;
        max-width: 100%;
    }
    a {
        width: 30px;
    }
    img {
        width: 20px;
    }
}

.containerSobreMi{
    background-color: $fondo_sobre_mi;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    min-height: 80vh;
    padding-inline: 1%;
    margin: 2%;
    padding: 0px;

    .col {
        height: 33%;
        padding-block: 20px;
    }

    .col-12 {
        @extend .col;
    }
    .col-6 {
        @extend .col;
    }
    
    .tituloSobreMi {
        font-family: 'Times New Roman', Times, serif;
    }
}

.containerForm {
    margin: auto;
    margin-top: 20px;
    background-color: $fondo-sobre-mi;
    width: 95vw;
    .formContacto {
        display: grid;
        margin-inline: auto;
        padding-bottom: 20px;
        grid-template-rows: 4rem 4fr;
        width: 5rem;
    }
    h3 {
        text-align: center;
        margin: auto;
        padding-top: 15px;
        padding-bottom: 20px;
    }
}

.containerContactos {
    padding-inline: auto;
    padding-top: 1%;
    
    .infoContacto {
        padding-block: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .contenedorMapa {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        padding: 15px;
    }
    img {
        width: 50px;
        height: 50px;
    }
    h6 {
        padding-inline: 10px;
    }
}